<header class="header">
    <div class="logo">
        <a href="https://www.subdom.blog" class="blog-link" target="_blank">M漫游小站M</a>
    </div>
    <div class="search-container">
        <div class="search-box">
            <input type="text" class="search-input" placeholder="若无反应，请点击左侧小站，再尝试搜索" id="searchInput">
            <button class="search-btn">搜索</button>
        </div>
        <div class="search-history" id="searchHistory"></div>
        <div class="autocomplete-results" id="autocompleteResults"></div>
    </div>
    <div class="categories">
        <a href="/category/anime" class="category">动画</a>
        <a href="/category/comic" class="category">漫画</a>
        <a href="/category/game" class="category">游戏</a>
        <a href="/category/video" class="category">视频</a>
        <% if (typeof user !=='undefined' && user) { %>
            <a href="/profile" class="category">
                <span class="username">
                    <%= user.username %>
                </span>
                <span class="user-icon">👤</span>
            </a>
        <% } else { %>
            <a href="/login" class="category" id="authDropdown">
                <span>登录/注册</span>
            </a>
            <div class="dropdown-menu" id="authMenu">
                <a href="/login">登录</a>
                <a href="/register">注册</a>
            </div>
        <% } %>
    </div>
</header>